// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
$white: #fff;
$black: #333;
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: $black;
}
.front-page {
  height: 100vh;
}
.nav {
  background: #333;
}
.back {
  i {
    color: $white;
    font-size: 32px;
    margin: 0.5rem 0;
  }
}
#map {
  height: calc(100vh - 48px);
  color: #333;
  #firstHeading {
    margin: 0.5rem 0;
  }
  .info-image {
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  p, .description {
    margin: 0.3rem 0;
  }
}
.event-list {
  .section {
    flex: auto!important;
    h3 {
      max-width: 150px;
    }
  }
}
.info {
  .cover {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
  }
}
.info-text {
  margin-top: 2rem;
}
.row {
  display: flex;
  .section, .hero {
    min-height: 200px;
    padding: 0;
    flex: 1;
    position: relative;
    a {
      color: $white;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .image-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba(49, 50, 51, 0.27);
      h1, h2, h3 {
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
}
